/* common shared styles */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}
.header {
    border: 3px solid red;
    height: 800px;
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.txt-head {
    color: white;
    height: 100%;
    font-size: 60px;
    display: flex;
    justify-content: right;
    flex-direction: right;
    /* align-items: right; */
    background-color: transparent;
    text-align: right;
}
.pg-head {
    color: #FFF;
text-align: right;
font-size: 16px;
font-weight: 100px;
line-height: 26px;
margin-bottom: 50px;
}
.text {
    margin-right: 100px
}

.btn-1 {
    text-align: right;
}
